{% extends 'layout.html' %}

    {% block title_block %}
    Home
    {% endblock %}

    {% block body_block %}
    
    <h1>Welcome to the Home Page!</h1>
    <h2>To register enter your details</h2>
    <form action="{{ url_for ('thankyou_function')}}" method = 'post'>
        <label>Enter your name : </label>
        <input type="text" name="var_1" placeholder="Enter you name"><br><br>
        <label>Enter your age : </label>
        <input type="text" name="var_2" placeholder="Enter your age"><br><br>
        <button>Register</button>
    </form>

    {% endblock %}
