<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title_block %}
<!-- these are like place holder which can be edited in other pages -->

        {% endblock %}
    </title>
</head>
<body>
    <nav>
        <a href=" {{ url_for ('index_function')}}">Home</a>
        <a href="{{ url_for ('contact_function')}}">Contact Us</a>
        <a href = "{{ url_for('about_function')}}">About Us</a>

    </nav>

    {% block body_block %}


    {% endblock %}
</body>
</html>